body {
  background-color: black;
 }

header{
  color: #ffc107;
  font-family: verdana;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 20px;
  text-align: center;
}

 .box {
   display: inline-block;
   left: 1%;
   margin: 3px;
   position: relative;
   top: 120px;
 }

 
